asgiref==3.8.1
black==24.10.0
click==8.1.7
diff-match-patch==20241021
dj-database-url==2.3.0
Django==4.2.16
django-formtools==2.5.1
django-import-export==4.3.1
django-markdownx==4.0.7
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-two-factor-auth==1.17.0
django-unfold==0.41.0
gunicorn==23.0.0
importlib_metadata==8.5.0
isort==5.13.2
Markdown==3.7
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
pypng==0.20220715.0
python-decouple==3.8
python-markdown-math==0.8
qrcode==7.4.2
sqlparse==0.5.2
tablib==3.7.0
tomli==2.1.0
typing_extensions==4.12.2
whitenoise==6.8.2
zipp==3.21.0
