{% load markdown_processing %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otabek Abdiraimov's Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="flex justify-center mt-10">
    <div class="w-[672px]">
        <h1 class="text-5xl text-white mb-6">Otabek Abdiraimov's Blog</h1>
        <div class="flex items-center gap-2 mb-10">
            <img class="size-14 object-cover rounded-full" src="{% static 'images/profile_pic.jpg' %}" alt="Profile Pic">
            <h1 class="text-lg text-white">Personal blog by <a href="https://t.me/otabek_abdiraimov" class="text-[#F2ABC3] hover:underline">Otabek Abdiraimov</a>. I explain tech
                <br> stuff and share my thoughts.</h1>
        </div>
        <ul class="space-y-4">
            {% for post in posts %}
                <li class="mb-10">
                    <a class="post-title" href="{% url 'post_detail' post.slug %}">
                        {{ post.title }}
                    </a>
                    <p class="text-[#67E8F9] text-sm">{{ post.created_at }}</p>
                    <div id="content" class="text-white mt-2">
                        {{ post.short_desc }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
